@import '_var.scss';

/* оформление содержимого шаблона, которое находится под
header */
.block_numberfon {
	padding: 100px 0;
	background: linear-gradient(to right, #20172a 20%, #0f0917 80%, #0f0917 100%);

}

.block_numberbox {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.block_numberbox_boult, .block_numberbox_num {
width: 25%;
}
.block_numberbox_boult{
	position: relative;
}
.block_numberbox_boult img{
position: absolute;
top:-240px;
left:-100px;
}
.numberbox_num {
	color:#fff;
	text-align: center;
@include font-size(100px);
font-family: "LatoBlack", sans-serif;
}

.numberbox_title {
	@include font-size(16px);
	color:$acsent_colir;
	text-transform: uppercase;
font-family: "LatoBold", sans-serif;

}

.numberbox_descr {
color:#a9a9a9;
font-family: "LatoLight", sans-serif;


}





.block {
	padding: 60px 0;
}
.cont_title {
	color: red;
}

.block_h {
	height: 300px;
}

.grey_block {
	background-color: grey;
}
.blue_block {
	background-color: blue;
}
.Aqua_block {
	background-color: Aqua;

}

.BlueViolet_block {
	background-color: BlueViolet;

}

.Chocolate_block {
	background-color: Chocolate;


}

.b_w {
padding-left: 10px;
padding-right: 10px;
}


.submit_bb {
text-transform: uppercase;
display: block;
margin: 0 auto;
text-align: center;
background-color: transparent;
border: 3px solid #fff;
color:#000;
margin-bottom: 50px;
cursor: pointer;
 font-size: 1.4rem;
 padding: 9px 33px;
 box-shadow: 1px 1px 1px #95989A;
 margin-bottom: 10px;
 @include trans;
}

.submit_bb:hover {
box-shadow:none;
 }


