@import "_var.scss";

/* font-family: "LatoLight"; */
@font-face {
  src:
    url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-family: "LatoLight";
  font-weight: 200;
  font-style: normal;
}

/* font-family: "HelveticaNeueLTStd-Hv"; */
@font-face {
  src:
    url("../fonts/HelveticaNeueLTStd-Hv/HelveticaNeueLTStd-Hv.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueLTStd-Hv/HelveticaNeueLTStd-Hv.woff") format("woff"),
    url("../fonts/HelveticaNeueLTStd-Hv/HelveticaNeueLTStd-Hv.ttf") format("truetype");
  font-family: "HelveticaNeueLTStd-Hv";
  font-weight: 400;
  font-style: normal;
}
