@import '_var.scss';

.header_fon {
 background: #fafcfc;
 min-height:800px;
 display: flex;
 align-items: center;
}

.top_line {
  top:0;
  left:0;
  background-color: #fafcfc;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: all 0.5s ease;
}

.top_line_box {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  border-bottom:1px solid #ebebeb;
  transition: all 0.5s ease;
}

.tlb_active {
  height: 72px;
}
.tlb_image {
width: 80%;
}

.top_line_logo {
  color: #fff;
}

.top_logo_icon {
  padding: 0;
  margin: 0;
  width: 64px;
  height: 64px;
  float:left;
}

.top_line_text {
  @include font-size(15px);
  line-height: 64px;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  float:left;
  color:#656973;
  padding-left: 15px;
}

.header_box {
  width: 1170px;
  margin: 0 auto;
}

/* стили оформления контента в хедере */

.header_content_item {
  width: 50%;
  margin:0;
  float: left;
}

.header_content_item img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.hc_title {
  border-left:5px solid $acsent_colir;
  padding-left: 30px;
  padding-top: 10px;
  margin-bottom: 60px;
}

.hc_title h1 {
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  @include font-size(48px);
  line-height: (35px / 72px);
  text-transform: uppercase;
  margin-bottom: 23px;
  font-weight: 600;
}
.hc_title h2 {
  @include font-size(24px);
  line-height: 1;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
}
.hc_desc {
  margin-bottom: 44px;
}

.hc_link {
  @include font-size(16px);
  border-radius: 40px;
  display: inline-block;
  background-color: $acsent_colir;
  color:#fff;
  padding: 17px 35px;
  font-family: "LatoBold", sans-serif;
  @include trans;
}

.hc_link:hover {
  background-color: lighten($acsent_colir, 10%);
}

.hc_watch {
  padding: 0 30px;
  @include font-size(16px);
  text-align: center;
  font-family: "LatoBold", sans-serif;
  color:#333740;
  text-transform: uppercase;
}

.hc_watch:hover {
  color: lighten(#333740, 10%);
  text-decoration: underline;
}
.hc_watch .fa {
  margin-left: 5px;
  @include font-size(20px);
  color:$acsent_colir;
}

/*  оформление мобильной версии меню и гамбургера */
.mobile_gamburger {
 padding: 0;
 margin: 0;
 width: 45px;
 height: 33px;
 position: relative;
}

nav, .navbar-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  position: fixed;
  z-index: 10;
  background-color: rgba(#18a3dd, 0.95);
  width: 100%;
  left:0;
  top:0;
  height: 100%;
  text-align: center;
  display: table;
  color: white;
}

.nav-hide { display: none; }

nav ul {
  display: table-cell;
  vertical-align: middle;
  padding-left: 0 !important;
}

nav ul li { list-style: none; }

nav ul li a {
 @include font-size(35px);
  text-transform: uppercase;
  color: inherit;
  font-weight: bolder;
  text-decoration: none;
  transition: all 0.52s ease;
  cursor: pointer;
}
nav ul li a.mPS2id-highlight,
nav ul li a:hover {
  color:#fcac45;
}


.navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  z-index: 20;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 100%;
  height: 3px;
  margin-bottom: 10px;
  background-color: #1c1f72;
  transition: all 0.3s ease-in-out;
}

.fixed {
position:fixed; /*позицианируем чтобы исчез скролл*/
width:100%; /*что бы верстка не складывалась по ширине*/
}

.navbar-on .bar1, .navbar-on .bar2,
.navbar-on .bar3 {
 background-color: white; }

.navbar-on .bar1 {
  transform-origin: 10% 40%;
  transform: rotate(45deg);
}

.navbar-on .bar3 {
  transform-origin: 10% 40%;
  transform: rotate(-45deg);
}

.navbar-on .bar2 { background-color: transparent; }