@import '_var.scss';

.header_fon {
 background: #fafcfc;
 min-height:980px;
 display: flex;
 align-items: center;
}


.top_line {
  top:0;
  left:0;
  background-color: #fafcfc;
  height: 114px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.top_line_box {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  border-bottom:1px solid #ebebeb;
}

.top_line_logo {
  color: #fff;
}

.top_logo_icon {
  padding: 0;
  margin: 0;
  width: 64px;
  height: 64px;
  float:left;
}
.top_line_text {
  @include font-size(15px);
  line-height: 64px;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  float:left;
  color:#656973;
  padding-left: 15px;
}




.header_box {
    width: 1170px;
    margin: 0 auto;
  }










/*  оформление мобильной версии меню и гамбургера */
.mobile_gamburger {
 padding: 0;
 margin: 0;
 width: 50px;
 height: 50px;

}

.toggle-mnu {
  display: block;
/*   float:right;
position:absolute;
right:10px;top:0; */
text-align:center;
line-height:48px;
}
.toggle-mnu{
  display:block;
  width:50px;
  height:50px;
  margin-top:15px;
  margin-right: 0;
}
.toggle-mnu span:after, .toggle-mnu span:before {
  content:"";
  position:absolute;
  left:0;
  top:9px;
}
.toggle-mnu span:after {
  top:18px;
}
.toggle-mnu span{
  position:relative;
  display:block;
}
.toggle-mnu span,.toggle-mnu span:after,.toggle-mnu span:before {
  width:100%;
  height:3px;
  background-color:#000;
  transition:all .3s;
  backface-visibility:hidden;
  border-radius:3px;
}
.toggle-mnu.on span {
  background-color:transparent;
}
.toggle-mnu.on span:before {
  -webkit-transform:rotate(45deg) translate(-1px,0);
  -ms-transform:rotate(45deg) translate(-1px,0);
  transform:rotate(45deg) translate(-1px,0);
}
.toggle-mnu.on span:after {
  -webkit-transform:rotate(-45deg) translate(6px,-7px);
  -ms-transform:rotate(-45deg) translate(6px,-7px);
  transform:rotate(-45deg) translate(6px,-7px);
}

.toggle-mnu.on+#menu {
  opacity:1;visibility:visible;
}





























/*
стили оформления контента в хедере
*/
.header_content {
  // padding: 15% 0;
}

.header_content_item {
  width: 50%;
  margin:0;
  float: left;
}

.header_content_item img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.hc_title {
  border-left:5px solid $acsent_colir;
  padding-left: 30px;
  padding-top: 10px;
  margin-bottom: 60px;
}

.hc_title h1 {
  font-family: "RalewayHeavy", sans-serif;
  @include font-size(48px);
  line-height: (35px / 72px);
  text-transform: uppercase;
  margin-bottom: 23px;
}
.hc_title h2 {
  @include font-size(24px);
  line-height: 1;
  font-family: "RalewayExtraBold", sans-serif;
}
.hc_desc {
  margin-bottom: 44px;
}

.hc_link {
  @include font-size(16px);
  border-radius: 40px;
  display: inline-block;
  background-color: $acsent_colir;
  color:#fff;
  padding: 17px 35px;
  font-family: "LatoBold", sans-serif;
  @include trans;

}
.hc_link:hover {
  background-color: lighten($acsent_colir, 10%);
}

.hc_watch {
  padding: 0 30px;
 @include font-size(16px);
 text-align: center;
 font-family: "LatoBold", sans-serif;
 color:#333740;
 text-transform: uppercase;
}

.hc_watch:hover {
color: lighten(#333740, 10%);
text-decoration: underline;
  }
  .hc_watch .fa {
    margin-left: 5px;
    @include font-size(20px);
color:$acsent_colir;
  }