@import '_var.scss';

@media (min-width: 737px) {
 .container {
  width: 100%;
  margin: 0 auto;
 }
}

@media (min-width: 768px) {
 .container {
  width: 750px;
  margin: 0 auto;
 }
}

@media (min-width: 800px) {
 .container {
  width: 780px;
  margin: 0 auto;
 }
}

@media (min-width: 992px) {
 .container {
  width: 970px;
  margin: 0 auto;
 }
}

@media (min-width: 1024px) {
 .container {
  width: 1004px;
  margin: 0 auto;
 }
}

@media screen and (min-width: 1080px) {
 .container {
  width: 1060px;
  margin: 0 auto;
 }
}

@media only screen and (min-width : 1190px) {
 .container {
  width: 1170px;
  margin: 0 auto;
 }
}

@media only screen and (min-width : 1200px) {
 .container {
  width: 1170px;
  margin: 0 auto;
 }
}

/* ниже размещено стили оформления наполнения шаблона в
зависимостиь от разрешения, в документ были вклюены все разрешения
не зависомо от требования заказчика  */

@media only screen and (max-width : 1440px) {}

@media only screen and (max-width : 1200px) {}

@media only screen and (max-width : 1190px) {}

@media screen and (max-width: 1080px) {
 .hc_title h1 {
  font-size: 2.705rem;
 }
}

/* первое разрешение под казачика */
@media only screen and (max-width: 1024px) {
 .header_fon {
  min-height: 700px;
 }

 .hc_title h1 {
  font-size: 2.705rem;
 }

 .header_content_item {
  width: 60%;
 }

 .header_content_item:last-child {
  width: 40%;
 }

 .block_numberbox_boult_img {
  top: -191px;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center center;
 }

 .block_numberfon {
  padding: 65px 0;
 }

 .numberbox_num {
  font-size: 5.75rem;
 }

 .suplement_order_title {
  font-size: 1.75rem;
 }

 .footer_items {
  width: 41%;
 }
}


@media only screen and (max-width: 960px) {

 .header_fon {
  min-height: 650px;
 }


 .hc_title h1 {
  font-size: 2.205rem;
 }

 .hc_watch {
  padding: 0 10px;
 }

 .block_numberbox_boult_img {
  left: -150px;
 }

 .feture_box_items {
  width: 48%;
 }

 .feture_box_items:nth-child(2) {
  display: none;
 }

 .block_feture-title h2 {
  font-size: 1.8rem;
 }

 .block_feture-title h2 .first_part {
  font-size: 1.74rem;
 }

 .footer_items {
  width: 50%;
 }

 .footer_items .my_social {
  text-align: right;
 }

 .suplement_order_left {
  display: flex;
  align-items: center;
 }
}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 768px) {
 .mobile_gamburger {
  display: block;
 }

 .top_line_menu {
  display: none;
 }

 .header_content_item {
  width: 100%;

  float: none;
 }

 .header_img:before {
  display: none;

 }

 .header_content_item:last-child {
  width: 100%;
 }

 .block_numberbox_boult,
 .block_numberbox_boult_img {
  display: none;
 }

 .block_numberbox_boult,
 .block_numberbox_num {
  width: 33%;
 }

 .header_content_item img {
  display: inline-block;
  width: 59%;
 }

 .header_fon {
  min-height: 850px;
  padding-top: 150px;
 }

 .header_content_item:last-child {
  margin-top: 30px;
 }

 #carrousel .owl-nav .owl-prev {
  left: -11px;
 }

 #carrousel .owl-nav .owl-next {
  right: -11px;
 }

 .supplement_box,
 .suplement_order_box {
  flex-wrap: wrap;
 }

 .suplement_order_right,
 .supplement_items {
  width: 100%;
 }

 .supplement_items:nth-child(1) {
  margin-top: 20px;
  order: 2;
 }

 .block_feture-title h2 .first_part {
  font-size: 1.574rem;
 }

}

/* end  (max-width: 768px) */
@media only screen and (max-width: 740px) {}

@media only screen and (max-width: 736px) {}

@media only screen and (max-width: 734px) {}

@media only screen and (max-width: 684px) {}

@media only screen and (max-width: 667px) {
 .header_fon {
  padding-top: 98px;
 }

 .block_feture-title h2 .first_part {
  display: block;
  line-height: 2.5;
  margin-right: 0;
 }

 .first_part:before {
  left: 0;
  //   margin-right: -40px;
  bottom: 10px;
  position: absolute;
  content: '';
  height: 3px;
  width: 80px;
  background-color: #18a3dd;
 }

 .subscribe_inn {
  width: 65%;
 }

 .footer_items:nth-child(1) {
  width: 87%;
 }

 .my_social li a {

  padding: 10px 20px;
 }

 .numberbox_num {
  font-size: 4.75rem;
 }

 .f_items_left_title {
  padding-left: 5px;
 }

 .footer_block {
  flex-wrap: wrap;
 }

 .footer_items,
 .footer_items:nth-child(1) {
  width: 100%;
 }

 .footer_items .my_social {
  margin-top: 30px;
  text-align: left;
 }

 .link_form a {
  font-size: 1rem;
 }

 .checkbox_box {
  text-align: center;
 }

 .supplement_facts,
 .block_feture,
 .block_adwice_fon,
 .block_realresult,
 .certifications_block,
 .subscribe_block,
 .contact_block {
  padding: 70px 0;
 }

 .subscribe_inn {
  width: 80%;
 }
}

@media only screen and (max-width: 640px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 568px) {
 .b_item {
  display: none;
 }

 .form-callback_item {
  float: right;
  width: 100%;
 }

 .bar1,
 .bar2,
 .bar3 {
  width: 100%;
  height: 3px;
  margin-bottom: 9px;
 }

 .navbar-on .bar3 {
  transform-origin: 7% 40%;
  transform: rotate(-47deg);
 }

 .navbar-on .bar1 {
  transform-origin: 13% 40%;
  transform: rotate(47deg);
 }

 .block_feture-descr {
  margin-bottom: 40px;
 }

 .navbar-toggle {
  width: 40px;
 }

 .numberbox_num span:before {
  bottom: 12px;
 }

 .f_items {
  margin-bottom: 50px;
 }

 .f_items:nth-child(even) {
  margin-bottom: 0;
 }

}

@media only screen and (max-width: 480px) {

 .form-callback h4 {
  font-size: 1.4rem;
 }

 .form-callback h5 {
  width: 75%;
  font-size: 1.4rem;
 }


 #cor {
  width: 74%;
 }

 #carrousel .owl-nav .owl-prev,
 #carrousel .owl-nav .owl-next {
  width: 40px;
  height: 40px;
 }

 #carrousel .owl-nav .owl-next:before,
 #carrousel .owl-nav .owl-prev:before {
  font-size: 1.3rem;
 }

 .result_items_text {
  padding: 0 15px;
 }

 .result_weight_left .rwl_after {
  line-height: 2.125;
 }

 .result_weight {
  margin-bottom: 20px;
 }

 .result_name {
  font-size: .9rem;
 }

 .checkbox_box {
  margin: 18px auto;
 }

 .feture_box {
  flex-wrap: wrap;
 }

 .feture_box_items {
  width: 100%;
 }

 .f_items_right_title:before {
  left: 0;
 }

 .f_items:nth-child(even),
 .f_items {
  margin-bottom: 40px;
 }

 .f_items:last-child {
  margin-bottom: 0;
 }

 nav ul li a {
  font-size: 1.95rem;
 }
}

@media only screen and (max-width: 425px) {}

@media only screen and (max-width: 414px) {}

@media only screen and (max-width: 412px) {}

@media only screen and (max-width: 384px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 320px) {}