/* // задать все переменные
 */
$acsent_colir: #18a3dd;
$color_form: #202020;
$white_color: #ffffff;
$color_button: #ff8941;
$color_hoverbutton: #fb6c14;
$grey_color: #95989a;

@mixin padzero {
  margin: 0;
  padding: 0;
}

@mixin trans {
  transition: all 0.2s ease;
}

//   @include font-size(100px);
@mixin font-size($size) {
  /*  // font-size: $size; */
  font-size: rem($size);
}

@function rem($size) {
  @return $size / 16px * 1rem;
}
