@import 'app/libs/bootstrap/bootstrap';

@import 'app/libs/font-awesome-5free/fontawesome';
@import 'app/libs/font-awesome-5free/fa-solid';
@import 'app/libs/font-awesome-5free/fa-regular';
@import 'app/libs/font-awesome-5free/fa-brands';
@import 'app/libs/magnific-popup/magnific-popup';
@import 'app/libs/icheck/minimal';




/* // @import 'app/libs/owlcarousel/owl.carousel';
// @import 'app/libs/owlcarousel/owl.theme.default'; */


/* @import 'app/libs/font-awesome/font-awesome'; */

/*
@import 'app/libs/swiper/swiper.min';
@import 'app/libs/hamburger/hamburgers.min';
@import 'app/libs/mmenu/jquery.mmenu.all';

@import 'app/libs/Vertical-Horizontal-Tabs/jquery.tabs';

@import 'app/libs/magnific-popup/magnific-popup';
@import 'app/libs/animate/animate';

@import 'app/libs/hamburger/hamburgers.min';
@import 'app/libs/mmenu/jquery.mmenu.all';
*/