*::input-placeholder {
  color: #202020;
  opacity: 1;
}

*:placeholder {
  color: #202020;
  opacity: 1;
}

*::placeholder {
  color: #202020;
  opacity: 1;
}

*,
*::before,
*::after {
  margin: 0;
  outline: none;
  padding: 0;
  box-sizing: border-box;
}

@import "_fonts.scss";

html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;

  /* height: 100%; */
  font-size: 16px;
  line-height: (24px / 16px);
  backface-visibility: hidden;

  /* overflow-x: hidden; */
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px;
  font-family: "LatoLight", sans-serif;
  -webkit-font-smoothing: antialised;
  font-size: 16px;
  line-height: (24px / 16px);
  color: #5b5f64;
  opacity: 1;
  backface-visibility: hidden;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #ff0000;
}

body input:required:valid,
body textarea:required:valid {
  color: hsl(120, 100%, 25%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  outline: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

.hidden {
  display: none;
}

@import "_var.scss";

.header_fon {
  display: flex;
  align-items: center;
  min-height: 800px;
  background: #fafcfc;
}

.top_line {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  background-color: #fafcfc;
  transition: all 0.5s ease;
}

.top_line_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  height: 100px;
  transition: all 0.5s ease;
}

.tlb_active {
  height: 72px;
}

.tlb_active .top_logo_icon {
  padding-top: 6px;
}

.tlb_image {
  width: 80%;
}

.top_line_logo {
  color: #ffffff;
}

.top_logo_icon {
  float: left;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
}

.top_line_text {
  @include font-size(15px);

  float: left;
  padding-left: 5px;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  line-height: 64px;
  color: #656973;
}

.header_box {
  margin: 0 auto;
  width: 1170px;
}

/* стили оформления контента в хедере */

.header_content_item {
  float: left;
  margin: 0;
  width: 50%;
}

.header_content_item img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.hc_title {
  margin-bottom: 60px;
  border-left: 5px solid $acsent_colir;
  padding-top: 10px;
  padding-left: 30px;
}

.hc_title h1 {
  @include font-size(48px);

  margin-bottom: 23px;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
}

.hc_title h2 {
  @include font-size(24px);

  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  line-height: 1;
}

.hc_desc {
  margin-bottom: 44px;
}

.hc_link {
  @include font-size(16px);
  @include trans;

  display: inline-block;
  border-radius: 40px;
  padding: 17px 35px;
  font-family: "LatoBold", sans-serif;
  color: #ffffff;
  background-color: $acsent_colir;
}

.hc_link:hover {
  background-color: lighten($acsent_colir, 10%);
}

.hc_watch {
  @include font-size(16px);

  padding: 0 30px;
  font-family: "LatoBold", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #333740;
}

.hc_watch:hover {
  text-decoration: underline;
  color: lighten(#333740, 10%);
}

.hc_watch .fa {
  @include font-size(20px);

  margin-left: 5px;
  color: $acsent_colir;
}

/*  оформление мобильной версии меню и гамбургера */
.mobile_gamburger {
  position: relative;
  margin: 0;
  padding: 0;
  width: 45px;
  height: 33px;
}

nav,
.navbar-toggle {
  user-select: none;
  -webkit-touch-callout: none;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  background-color: rgba(#18a3dd, 0.95);
}

.nav-hide {
  display: none;
}

nav ul {
  display: table-cell;
  vertical-align: middle;
  padding-left: 0 !important;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  @include font-size(35px);

  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  transition: all 0.52s ease;
  cursor: pointer;
}

nav ul li a.mPS2id-highlight,
nav ul li a:hover {
  color: #fcac45;
}

.navbar-toggle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  margin-bottom: 10px;
  width: 100%;
  height: 3px;
  background-color: #1c1f72;
  transition: all 0.3s ease-in-out;
}

.fixed {
  position: fixed;

  /* позицианируем чтобы исчез скролл */
  width: 100%;

  /* что бы верстка не складывалась по ширине */
}

.navbar-on .bar1,
.navbar-on .bar2,
.navbar-on .bar3 {
  background-color: #ffffff;
}

.navbar-on .bar1 {
  transform: rotate(45deg);
  transform-origin: 10% 40%;
}

.navbar-on .bar3 {
  transform: rotate(-45deg);
  transform-origin: 10% 40%;
}

.navbar-on .bar2 {
  background-color: transparent;
}

/* оформление содержимого шаблона, которое находится под
header */
.block_numberfon {
  padding: 100px 0;
  background: linear-gradient(to right, #20172a 20%, #0f0917 80%, #0f0917 100%);
}

.block_numberfon h2 {
  display: none;
}

.block_numberbox {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.block_numberbox_boult,
.block_numberbox_num {
  width: 25%;
}

.block_numberbox_boult {
  position: relative;
}

.block_numberbox_boult_img {
  position: absolute;
  left: -100px;
  top: -216px;
  width: 404px;
  height: 525px;
  background-image: url("../img/boult-pils.png");
}

.numberbox_num {
  @include font-size(100px);

  font-weight: 800;
  text-align: center;
  color: #ffffff;
}

.numberbox_num span {
  position: relative;
}

.numberbox_num span::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 20px;
  width: pxrem(5px);
  height: pxrem(60px);
  background-color: $acsent_colir;
}

.numberbox_title {
  @include font-size(16px);

  font-weight: 800;
  text-transform: uppercase;
  color: $acsent_colir;
}

.numberbox_descr {
  color: #a9a9a9;
}

.numberbox {
  margin: 0;
  padding: 0;
}

.block_feture {
  padding-top: 110px;
  background-color: #fafcfc;
}

.block_feture-title {
  text-align: center;
}

.block_feture-title h2 {
  @include font-size(30px);

  display: inline-block;
  margin-bottom: 26px;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  font-weight: 200;
  line-height: (22px / 30px);
  text-align: center;
  text-transform: uppercase;
  color: #333740;
}

.first_part {
  position: relative;
}

.first_part::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: -1px;
  width: 1px;
  height: 40px;
  background-color: $acsent_colir;
}

.supplement_facts .first_part::before {
  right: -19px;
}

.subscribe_block .first_part::before {
  right: -19px;
}

.block_feture-title h2 .first_part {
  @include font-size(30px);

  margin-right: 30px;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  font-weight: 800;
  line-height: (22px / 30px);
}

.block_feture-descr {
  margin-bottom: 70px;
  text-align: center;
  color: #83888f;
}

.feture_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.feture_box_items {
  width: 33%;
}

.feture_box_items_img {
  align-self: flex-end;
}

.feture_box_items_img img {
  display: block;
  margin: 0 auto;
  width: 67%;
  height: auto;
}

.f_items_right_title {
  @include font-size(20px);

  position: relative;
  margin-bottom: 33px;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  font-weight: 800;
  line-height: (24px / 20px);
  text-align: center;
  text-transform: uppercase;
  color: #333740;
}

.f_items_right_title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 35px;
  background-color: $acsent_colir;
}

.f_items_left_title {
  @include font-size(20px);

  position: relative;
  margin-bottom: 33px;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  font-weight: 800;
  line-height: (24px / 20px);
  text-align: center;
  text-transform: uppercase;
  color: #333740;
}

.f_items_left_title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 35px;
  background-color: $acsent_colir;
}

.f_items {
  margin-bottom: 78px;
}

.f_items_text {
  text-align: right;
  color: #5b5f64;
}

.f_items_left {
  text-align: left;
}

.block_realresult {
  padding: 110px 0;
  background-color: #ffffff;
}

.block_adwice_fon {
  padding: 110px 0;
  min-height: 560px;
  background: #000000 url("../img/adwice_fon.jpg") center center no-repeat;
  background-size: cover;
}

.block_adwice_fon .block_feture-title h2 {
  color: #e5e5e5;
}

.block_adwice_fon .block_feture-descr {
  color: #767a7d;
}

/* формление слайдера команды */
.box-adwice-wrap {
  margin: 0 auto;
  padding-bottom: 10px;
  width: 83%;
  text-align: center;
  cursor: pointer;
}

.box-adwice-text {
  margin-bottom: 30px;
  font-style: italic;
  text-align: center;
  color: #a9a9a9;
}

.box-adwice_avtor {
  display: inline-block;
}

.box-adwic_block {
  margin: 0;
  padding: 0;
}

.box-adwice_img {
  position: relative;
  float: left;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 69px;
}

// .box-adwice_img .shape {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: #ffffff;
// }

.box-adwice_img img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.box-adwice_text {
  float: left;
  padding-left: 15px;
}

h3.command_name {
  margin-bottom: 12px;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #e5e5e5;
}

h4.command_prof {
  @include font-size(14px);

  line-height: (24px / 14px);
  color: #a9a9a9;
}

.supplement_facts {
  padding: 110px 0;
  background-color: #fafcfc;
}

.supplement_box {
  display: flex;
  justify-content: space-around;
}

.supplement_items {
  width: 42%;
}

.supplement_items img {
  margin-bottom: 46px;
}

.supplement_title {
  margin-bottom: 35px;
  border-left: 5px solid $acsent_colir;
  padding-left: 24px;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #333740;
}

.supplement_title span {
  display: block;
}

.supplement_list {
  margin: 0 0 45px;
  padding: 0;
  width: 100%;
}

.supplement_list li {
  @include trans;

  position: relative;
  border-bottom: 1px solid #ebebeb;
  height: 38px;
  line-height: 38px;
  color: #333740;
}

.supplement_list li:hover {
  border-bottom: 0;
  padding: 0 5px;
  box-shadow: 3px 0 9px rgba(#000000, 0.24);
  background-color: #ffffff;
  transform: scale(1.05, 1.4);
}

.supplement_list li span {
  position: absolute;
  right: 5px;
}

.supplement_link {
  @include trans;

  position: relative;
  display: inline-block;
  border-radius: 30px;
  padding: 15px 40px;
  width: 100%;
  font-weight: 800;
  text-transform: uppercase;
  color: #f1f1f1;
  background-color: $acsent_colir;
}

.supplement_link span {
  position: absolute;
  right: 40px;
}

.supplement_link:hover {
  background-color: darken($acsent_colir, 10%);
}

.certifications_block {
  padding: 110px 0;
  background-color: #f1f4f5;
}

.certifications_items {
  width: 100%;
}

.certifications_block img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.suplement_order {
  padding: 100px 0 50px;
  background-color: #ffffff;
}

.suplement_order_box {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.suplement_order_left {
  width: 58%;
}

.suplement_order_left img {
  display: block;
  width: 100%;
  height: auto;
}

.suplement_order_right {
  width: 42%;
}

.suplement_order_title {
  @include font-size(30px);

  position: relative;
  margin-bottom: 32px;
  padding-left: 30px;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  font-weight: 800;
  line-height: (35px / 30px);
  text-transform: uppercase;
  color: #333740;
}

.suplement_order_title span {
  @include font-size(20px);

  display: block;
  margin-top: 17px;
  line-height: (24px / 20px);
}

.suplement_order_title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 5px;
  height: 50px;
  background-color: $acsent_colir;
}

.suplement_order_text {
  margin-bottom: 40px;
  color: #666666;
}

.supp_link {
  @include trans;

  display: inline-block;
  border-radius: 30px;
  padding: 15px 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: #f1f1f1;
  background-color: $acsent_colir;
}

.subscribe_block {
  padding: 110px 0;
  min-height: 387px;
  background: #000000 url("../img/subscribe.jpg") center center no-repeat;
  background-size: cover;
}

.subscribe_block .block_feture-descr,
.subscribe_block .block_feture-title h2 {
  color: #e5e5e5;
}

.subscribe_block .block_feture-descr {
  margin-bottom: 64px;
}

.subscribe_inn {
  margin: 0 auto;
  width: 50%;
}

.form_podpiska {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.input_podpiska {
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 72%;
  height: 50px;
  line-height: 50px;
  text-indent: 30px;
  text-transform: capitalize;
  color: #ababab;
}

.podpiska_button {
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 28%;
  height: 50px;
  font-weight: 800;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $acsent_colir;
  cursor: pointer;
}

.podpiska_button:hover {
  background-color: darken($acsent_colir, 10%);
}

footer {
  padding: 40px 0 60px;
  background-color: #f1f4f5;
}

.footer_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer_items {
  width: 32%;
}

.footer_items_in {
  margin-bottom: 26px;
  color: #666666;
}

.footer_items_cosial li {
  display: inline-block;
  border-right: 1px solid #d9d9d9;
}

.footer_items_cosial li:last-child {
  border-right: none;
}

.footer_items_cosial li a {
  @include font-size(14px);

  display: inline-block;
  padding: 5px 15px;
  line-height: (20px / 14px);
  color: #666666;
}

.my_social li {
  display: inline-block;
}

.my_social li a {
  @include font-size(24px);
  @include trans;

  padding: 10px 30px;
  line-height: (20px / 24px);
  color: #666666;
}

.my_social li a:hover,
.footer_items_cosial li a:hover {
  color: darken(#666666, 10%);
}

.contact_block {
  padding: 110px 0;
  background-color: #ffffff;
}

.contact_form {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.contact_input {
  margin-right: 4%;
  margin-bottom: 33px;
  border: none;
  border-bottom: 1px solid #ebebeb;
  padding: 15px 0;
  width: 48%;
  text-indent: 10px;
  color: #ababab;
}

.contact_input_two {
  margin-right: 0;
}

.contact_subgect {
  margin-right: 0;
  width: 100%;
}

.contact_textarea {
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  height: 150px;
  color: #ababab;
  resize: none;
}

.contact_button {
  @include trans;

  margin: 0 auto;
  border: none;
  border-radius: 25px;
  padding: 15px 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #18a3dd;
  cursor: pointer;
}

.contact_button:hover {
  background-color: darken(#18a3dd, 10%);
}

.result_box {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.result_box_items {
  display: flex;
  width: 50%;
}

.result_box_items img {
  display: block;
  width: 100%;
  height: auto;
}

.result_items_text {
  align-self: center;
  padding: 0 22px;
}

.result_name {
  border-left: 5px solid $acsent_colir;
  padding-left: 5px;
  font-family: "HelveticaNeueLTStd-Hv", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #333740;
}

.result_name span {
  display: block;
  margin-top: 10px;
}

.result_weight {
  display: flex;
  margin: 0 auto 30px;
  padding: 0;
}

.result_weight_left {
  @include font-size(40px);

  width: 50%;
  font-weight: 800;
  line-height: (50px / 40px);
  color: #333740;
}

.result_weight_left .rwl_w {
  @include font-size(16px);

  line-height: (24px / 16px);
}

.result_weight_left .rwl_after {
  @include font-size(16px);

  display: block;
  line-height: (50px / 16px);
  color: #18a3dd;
}

#cor {
  margin: 0 auto;
  width: 80%;
}

// оформление карусели
.certifications_block .owl-theme .owl-nav.disabled +.owl-dots {
  margin-top: 40px;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

/* Изменяем внешний вид элементов управления (точки) */
.owl-theme .owl-dots .owl-dot span {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #342e3a;
  cursor: pointer;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: $acsent_colir;
}

#carrousel .owl-carousel img {
  width: auto;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 12px 12px 10px -10px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  transition: all 0.2s ease;
}

#carrousel .owl-carousel .owl-item {
  position: relative;
  z-index: 1;
  height: 300px;
  transform: scale(0.7);
  transition: all 0.2s;
}

@media (max-width: 768px) {
  #carrousel .owl-carousel .owl-item {
    height: 270px;
  }
}

@media (max-width: 380px) {
  #carrousel .owl-carousel .owl-item {
    height: 200px;
  }
}

#carrousel .owl-carousel .owl-stage-outer {
  padding-bottom: 10px;
}

#carrousel .owl-item.big {
  z-index: 3;
  transform: scale(1);
}

#carrousel .owl-item.medium {
  z-index: 2;
  transform: scale(0.7);
}

#carrousel .owl-item.medium.mdright {
  position: relative;
  left: -30px;
}

@media (min-width: 768px) {
  #carrousel .owl-item.medium.mdright {
    left: 0;
  }
}

#carrousel .owl-item.medium.mdleft {
  position: relative;
  right: -30px;
}

@media (min-width: 768px) {
  #carrousel .owl-item.medium.mdleft {
    right: 0;
  }
}

#carrousel .owl-item.smallRight.active {
  position: relative;
  left: -30px;
  transform: scale(0.7);
}

#carrousel .owl-item.smallLeft.active {
  position: relative;
  right: -30px;
  transform: scale(0.7);
}

#carrousel .owl-nav {
  position: absolute;
  top: 30%;
  width: 100%;
}

#carrousel .owl-nav .owl-prev,
#carrousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  border: 3px solid #c6cfd2;
  border-radius: 50%;
  padding: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  color: transparent;
  background-repeat: no-repeat;
  background-color: transparent;
  transform: translateY(50%);
}

#carrousel .owl-nav .owl-prev {
  left: -60px;
  transform: translateX(-100%);
}

#carrousel .owl-nav .owl-next {
  right: -60px;
  transform: translateX(100%);
}

#carrousel .owl-nav .owl-next::before,
#carrousel .owl-nav .owl-prev::before {
  @include font-size(26px);

  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  font-family: "FontAwesome";
  font-weight: 400;
  text-align: center;
  color: #c6cfd2;
  transform: translate(-50%, -50%);
}

#carrousel .owl-nav .owl-prev::before {
  content: "\f060";
}

#carrousel .owl-nav .owl-next::before {
  content: "\f061";
}

#carrousel .owl-theme .owl-dots {
  padding-top: 55px;
}

/* стили формы обратной связи */
$color_formes: #18a3dd;

.forms-call {
  overflow: hidden;
  margin: 0 auto;
  border: 0;
  padding: 0;
  width: 100%;
}

.form_fon_title {
  @include font-size(25px);

  text-align: center;
  color: #ffffff;
}

.form_fon_title span {
  text-transform: uppercase;
  color: $color_button;
}

.forms-call label {
  display: block;
  margin: 10px 0;
}

.input_form {
  @include font-size(20px);
  @include trans;

  display: block;
  margin: 10px 0 0;
  border: 1px solid $grey_color;
  width: 90%;
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  color: #000000;
}

.input-border {
  border: 1px solid $color_formes;
}

.input_form:focus,
.input_form:hover {
  border: 1px solid $grey_color;
  border-bottom: 1px solid $color_button;
}

.input-border:focus,
.input-border:hover {
  border: 1px solid #e5722c;
  border-bottom: 1px solid $color_button;
}

.submit {
  @include trans;

  display: block;
  margin: 10px auto 0;
  outline: 0;
  border: 0;
  width: 90%;
  height: 40px;
  font-size: 1.2rem;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background-color: $color_button;
  cursor: pointer;
}

.submit:hover {
  background-color: $color_hoverbutton;
}

.form_info {
  @include font-size(12px);

  margin: 20px auto;
  width: 80%;
  color: #7e7e7e;
}

.checkbox_box {
  margin: 20px auto 10px;
  padding: 0 0 0 30px;
  width: 100%;
  color: #ffffff;
}

.big_form_case .checkbox_box {
  margin: 10px auto;
  width: 38%;
}

.radioterms {
  margin-top: 10px;
  width: 10%;
}

.checkbox_box .css-checkbox {
  display: none;
}

.checkbox_box .link_form {
  @include font-size(12px);

  position: relative;
  top: -6px;
  width: 87%;
  color: #95989a;
}

.checkbox_box .link_form::before {
  content: "";
  position: absolute;
  left: -23px;
  top: -1px;
  display: block;
  border: 1px solid #ebebeb;
  width: 15px;
  height: 15px;
  transition: all 0.2s ease;
}

.checkbox_box input:checked +.link_form::after {
  //  content: "";
  content: "\2713";
  position: absolute;
  left: -23px;
  top: -9px;
  display: block;
  width: 15px;
  height: 15px;
  font-size: 22px;
  color: #18a3dd;

  // background-color: #18a3dd;
}

.form-callback_iner .checkbox_box input:checked +.link_form::after {
  color: #ffffff;
}

.link_form a {
  @include trans;

  color: #95989a;
}

.form-callback_iner .link_form {
  color: #ffffff;
}

// .link_form a:hover .link_form::before {
//   border-bottom: 1px dashed #ffffff;
// }

.form-callback_iner .checkbox_box .link_form a {
  text-decoration: underline;
  color: #ffffff;
}

.big_form_case .link_form::before {
  border-bottom: 1px dashed #ffffff;
  width: 81%;
}

.form_fon_mphone .form_fon_title {
  margin-bottom: 15px;
}

.form_fon_mphone .form_fon_title,
.form_fon_mphone .form_fon_title span {
  color: #000000;
}

.form_fon_mphone .link_form a:hover {
  color: $grey_color;
}

/*
стилизую форму всплывашку для обратной связи */
.form-callback {
  position: relative;
  overflow: hidden;
  margin: auto;
  padding: 20px;
  min-width: 300px;
  max-width: 750px;

  /* 	background-color:$color_button; */
  transition: all 0.5s else;
}

.form-callback_iner {
  padding-top: 20px;
  background-color: #18a3dd;
}

.form-callback h4 {
  @include font-size(30px);

  margin-bottom: 20px;
  font-weight: 600;
  line-height: (37px / 30px);

  /* color: $button-hover; */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.form-callback h5 {
  @include font-size(25px);

  margin: 0 auto;
  width: 75%;
  font-weight: 400;
  line-height: (30px / 25px);
  text-align: center;
  color: #000000;
}

.fcb {
  margin: 0;
  padding: 0;
  background-color: #18a3dd;
}

.form-callback_item {
  float: right;
  margin-top: -1px;
  padding-top: 15px;
  width: 50%;

  /* 	background-color:$color_button; */
}

.b_item {
  float: left;
  margin: 20px auto 0;
  width: 50%;
  height: 261px;
  text-align: center;
  background: #18a3dd url("../img/boult-pils-forms.png") center center no-repeat;
  background-size: 200px 260px;
}

.form-callback_item .input_form {
  font-size: 0.95rem;
  color: $grey_color;
}

.label_name {
  margin-left: 5%;
  color: #ffffff;
}

.form-callback .button-call {
  float: none;
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}

.form-callback .link_form a {
  color: #ffffff;
}

/* Hide original inputs */
//.checkbox_box input[type="checkbox"],
input[type="radio"] {
  display: none;
}

/* Checkboxes */
// .checkbox_box input[type=checkbox] +label span {
//   display: inline-block;
//   vertical-align: middle;
//   margin: 4px 8px 8px;
//   border: 1px solid #ffffff;
//   padding: 2px;
//   width: 20px;
//   height: 20px;
//   font-size: 24pt;
//   line-height: 0.25em;
//   text-align: center;
// }

.submit_bb {
  display: inline-block;
  border: none;
  border-radius: 30px;
  padding: 15px 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: #f1f1f1;
  background-color: #017d61;
  transition: all 0.2s ease;
  transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.submit_bb:hover {
  background-color: lighten(#017d61, 5%);
}

/*
стилизую кнопки закрытия формы */
.forms-call .mfp-close {
  @include font-size(26px);

  position: absolute;
  right: 4px;
  top: 4px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 0.95;
  text-align: center;
  color: #ffffff;
  background-color: #18a3dd;
  opacity: 1;
  transition: all 0.75s ease;
}

.forms-call .mfp-close:hover {
  color: lighten(#000000, 10%);
}

// переписать
.forms-calldecor {
  position: relative;
}

.forms-calldecor .success {
  position: absolute;
  left: 0;
  top: -100%;
  z-index: 1;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: $color_button;
  opacity: 0;
  transition: all 3s ease;
}

.forms-calldecor .success.active {
  top: 0;
  opacity: 1;
}

.forms-calldecor .success p {
  display: flex;
  align-self: center;
  margin: auto;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* // долюно работать анимация всплывашки */
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.615s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: translateY(1%);
  transition: all 0.615s ease-out;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  transform: translateY(-120%);
}

.footer_fob {
  width: 100%;
}

:focus::input-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

:focus:placeholder {
  color: transparent;
}

:focus:input-placeholder {
  color: transparent;
}

@media (min-width: 737px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 750px;
  }
}

@media (min-width: 800px) {
  .container {
    margin: 0 auto;
    width: 780px;
  }
}

@media (min-width: 992px) {
  .container {
    margin: 0 auto;
    width: 970px;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 1004px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    margin: 0 auto;
    width: 1060px;
  }
}

@media only screen and (min-width: 1190px) {
  .container {
    margin: 0 auto;
    width: 1170px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 1170px;
  }
}

/* ниже размещено стили оформления наполнения шаблона в
зависимостиь от разрешения, в документ были вклюены все разрешения
не зависомо от требования заказчика  */

@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1190px) {}

@media screen and (max-width: 1080px) {
  .hc_title h1 {
    font-size: 2.705rem;
  }

  .header_content_item {
    width: 60%;
  }

  .header_content_item:nth-child(2) {
    width: 40%;
  }

  .block_numberbox_boult_img {
    left: -64px;
    top: -146px;
    width: (404/1.3) * 1px;
    height: (525/1.3) * 1px;
    background-size: cover;
  }

  .footer_items {
    width: 43%;
  }
}

/* первое разрешение под казачика */
@media only screen and (max-width: 1024px) {
  .header_fon {
    min-height: 700px;
  }

  .hc_title h1 {
    font-size: 2.705rem;
  }

  .header_content_item {
    width: 60%;
  }

  .header_content_item:last-child {
    width: 40%;
  }

  .block_numberfon {
    padding: 65px 0;
  }

  .numberbox_num {
    font-size: 5.75rem;
  }

  .suplement_order_title {
    font-size: 1.75rem;
  }

  .footer_items {
    width: 41%;
  }
}

@media only screen and (max-width: 960px) {
  .header_fon {
    min-height: 650px;
  }

  .hc_title h1 {
    font-size: 2.205rem;
  }

  .hc_watch {
    padding: 0 10px;
  }

  .block_numberbox_boult_img {
    left: -150px;
  }

  .feture_box_items {
    width: 48%;
  }

  .feture_box_items:nth-child(2) {
    display: none;
  }

  .block_feture-title h2 {
    font-size: 1.8rem;
  }

  .block_feture-title h2 .first_part {
    font-size: 1.74rem;
  }

  .footer_items {
    width: 50%;
  }

  .footer_items .my_social {
    text-align: right;
  }

  .suplement_order_left {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 834px) {
  .header_content_item {
    float: none;
    width: 100%;
  }

  .header_content_item:last-child {
    margin: 20px auto 10px;
    width: 40%;
  }

  .header_fon {
    min-height: max-content;
  }

  .header_content {
    margin-top: 130px;
    margin-bottom: 20px;
  }

  .block_numberbox_boult_img {
    left: -64px;
    top: -100px;
    width: (404/1.5) * 1px;
    height: (525/1.5) * 1px;
  }

  .numberbox_num {
    font-size: 4.5rem;
  }

  .numberbox_num span::before {
    bottom: 11px;
    height: 3.75rem;

    // left: -19px;
  }

  .numberbox {
    padding-left: 44px;
  }

  .block_feture-title h2 {
    line-height: 1.15;
  }
}

@media only screen and (max-width: 800px) {
  #carrousel .owl-nav .owl-prev {
    left: -36px;
  }

  #carrousel .owl-nav .owl-next {
    right: -36px;
  }

  .block_numberbox_boult_img {
    top: -121px;
  }
}

@media only screen and (max-width: 768px) {
  .mobile_gamburger {
    display: block;
  }

  .top_line_menu {
    display: none;
  }

  .header_content_item {
    float: none;
    width: 100%;
  }

  .header_img::before {
    display: none;
  }

  .header_content_item:last-child {
    width: 100%;
  }

  .block_numberbox_boult,
  .block_numberbox_boult_img {
    display: none;
  }

  .block_numberbox_boult,
  .block_numberbox_num {
    width: 33%;
  }

  .header_content_item img {
    display: inline-block;
    width: 59%;
  }

  .header_fon {
    padding-top: 150px;
    min-height: 850px;
  }

  .header_content_item:last-child {
    margin-top: 30px;
  }

  #carrousel .owl-nav .owl-prev {
    left: -11px;
  }

  #carrousel .owl-nav .owl-next {
    right: -11px;
  }

  .supplement_box,
  .suplement_order_box {
    flex-wrap: wrap;
  }

  .suplement_order_right,
  .supplement_items {
    width: 100%;
  }

  .supplement_items:nth-child(1) {
    order: 2;
    margin-top: 20px;
  }

  .block_feture-title h2 .first_part {
    font-size: 1.574rem;
  }

  .header_content {
    margin-top: 0;
  }

  .footer_block {
    flex-wrap: wrap;
  }

  .footer_items {
    width: 100%;
  }

  .footer_items .my_social {
    margin-top: 20px;
    text-align: center;
  }

  .footer_items_cosial li a {
    font-size: 0.875rem;
  }
}

/* end  (max-width: 768px) */
@media only screen and (max-width: 740px) {}

@media only screen and (max-width: 736px) {}

@media only screen and (max-width: 734px) {}

@media only screen and (max-width: 684px) {}

@media only screen and (max-width: 667px) {
  .header_fon {
    padding-top: 98px;
  }

  .block_feture-title h2 .first_part {
    display: block;
    margin-right: 0;
    line-height: 2.5;
  }

  .first_part::before {
    content: "";
    position: absolute;
    left: 0;

    //   margin-right: -40px;
    bottom: 10px;
    width: 80px;
    height: 3px;
    background-color: #18a3dd;
  }

  .subscribe_inn {
    width: 65%;
  }

  .footer_items:nth-child(1) {
    width: 87%;
  }

  .my_social li a {
    padding: 10px 20px;
  }

  .numberbox_num {
    font-size: 4.75rem;
  }

  .f_items_left_title {
    padding-left: 5px;
  }

  .footer_block {
    flex-wrap: wrap;
  }

  .footer_items,
  .footer_items:nth-child(1) {
    width: 100%;
  }

  .footer_items .my_social {
    margin-top: 30px;
    text-align: left;
  }

  .link_form a {
    font-size: 1rem;
  }

  .checkbox_box {
    text-align: center;
  }

  .supplement_facts,
  .block_feture,
  .block_adwice_fon,
  .block_realresult,
  .certifications_block,
  .subscribe_block,
  .contact_block {
    padding: 70px 0;
  }

  .subscribe_inn {
    width: 80%;
  }
}

@media only screen and (max-width: 640px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 568px) {
  .f_items_text {
    text-align: left;
  }

  .feture_box {
    flex-wrap: wrap;
  }

  .feture_box_items {
    width: 100%;
  }

  .f_items_right_title::before {
    left: 0;
  }

  .b_item {
    display: none;
  }

  .form-callback_item {
    float: right;
    width: 100%;
  }

  .bar1,
  .bar2,
  .bar3 {
    margin-bottom: 9px;
    width: 100%;
    height: 3px;
  }

  .navbar-on .bar3 {
    transform: rotate(-47deg);
    transform-origin: 7% 40%;
  }

  .navbar-on .bar1 {
    transform: rotate(47deg);
    transform-origin: 13% 40%;
  }

  .block_feture-descr {
    margin-bottom: 40px;
  }

  .navbar-toggle {
    width: 40px;
  }

  .numberbox_num span::before {
    bottom: 12px;
  }

  .f_items {
    margin-bottom: 50px;
  }

  .f_items:nth-child(even) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 480px) {
  .block_numberbox {
    flex-wrap: wrap;
  }

  .numberbox {
    padding-left: 0;
    text-align: center;
  }

  // .block_numberbox_boult,
  .block_numberbox_num {
    width: 100%;
  }

  .form-callback h4 {
    font-size: 1.4rem;
  }

  .form-callback h5 {
    width: 75%;
    font-size: 1.4rem;
  }

  #cor {
    width: 74%;
  }

  #carrousel .owl-nav .owl-prev,
  #carrousel .owl-nav .owl-next {
    width: 40px;
    height: 40px;
  }

  #carrousel .owl-nav .owl-next::before,
  #carrousel .owl-nav .owl-prev::before {
    font-size: 1.3rem;
  }

  .result_items_text {
    padding: 0 15px;
  }

  .result_weight_left .rwl_after {
    line-height: 2.125;
  }

  .result_weight {
    margin-bottom: 20px;
  }

  .result_name {
    font-size: 0.9rem;
  }

  .checkbox_box {
    margin: 18px auto;
  }

  .feture_box {
    flex-wrap: wrap;
  }

  .feture_box_items {
    width: 100%;
  }

  .f_items_right_title::before {
    left: 0;
  }

  .f_items:nth-child(even),
  .f_items {
    margin-bottom: 40px;
  }

  .f_items:last-child {
    margin-bottom: 0;
  }

  nav ul li a {
    font-size: 1.95rem;
  }
}

@media only screen and (max-width: 425px) {
  .hc_watch {
    display: block;
    margin-top: 33px;
    text-align: left;
  }

  .block_feture-title .first_part::before,
  .subscribe_block .first_part::before,
  .supplement_facts .first_part::before {
    right: 0;
    margin-left: 40px;
    text-align: center;
    transform: translateX(50%);
  }

  .input_podpiska {
    width: 96%;
  }

  .podpiska_button {
    width: 60%;
  }

  .contact_input {
    margin-right: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 414px) {}

@media only screen and (max-width: 412px) {}

@media only screen and (max-width: 384px) {
  .podpiska_button {
    width: 50%;
    font-weight: 800;
  }

  .footer_items_cosial li {
    display: block;
    border-right: none;
  }

  .link_form a {
    font-size: 1.11rem;
    line-height: 1.1;
  }

  .result_box {
    flex-wrap: wrap;
  }

  .result_box_items {
    width: 100%;
  }

  #carrousel .owl-carousel img {
    display: inline-block;
    margin: 0 auto 10px;
    height: auto;
    max-width: 50%;
  }

  .result_weight {
    flex-wrap: wrap;
    padding: 0;
  }

  .result_items_text {
    padding: 0;
    width: 100%;
  }

  .result_weight_left {
    font-size: 1.7rem;
  }

  .result_weight {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 375px) {
  #carrousel .owl-nav .owl-next,
  #carrousel .owl-nav .owl-prev {
    display: none;
  }

  #carrousel .owl-carousel .owl-item {
    height: 266px;
  }
}

@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 320px) {
  .suplement_order_title {
    font-size: 1.475rem;
  }

  .subscribe_inn {
    width: 100%;
  }
}
